body {
  margin: 0;
  

  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

*{
  font-family: 'Gaegu', cursive;
  background-color: #282c34;
}
#checkBox{
  background-color: #282c34;
  border: 1px solid #fff;
  color: #fff;
}
#checkBox:hover{
  color:lawngreen;
  background-color: lawngreen;
}
#botonGuardado{
  background-color: #282c34;
  border: 5px solid #fff;
  color:#fff
}

#botonGuardado:hover{
  box-shadow: 1px 1px 8px #fff;
  background-color: #fff;
  border: 5px solid #282c34;
  color:#282c34;
}

.fondo{background-color: #282c34; }
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#tarjetaTarea{
justify-content: center;
align-items: center;
border:3px solid #fff;

}

#botonEditarId{
  background-color: #282c34;
  color: #fff;
  border: 2px solid #fff;
  margin: 3px;
}

#botonEditarId:hover{
  
  box-shadow: 1px 1px 8px #fff;  
  border: 2px solid #0ef706;
  margin: 3px;
  color: #0ef706;
}

#botonBorrarId{
  background-color: #282c34;
  color: #fff;
  border: 2px solid #fff;
  margin: 3px;
}

#botonBorrarId:hover{
  
  box-shadow: 1px 1px 8px #fff;  
  border: 2px solid #fd0202;
  margin: 3px;
  color:#fd0202
}


#modalEditar{
justify-content: center;
align-items: center;
border:3px solid #fff;
border-radius: 10px;
}

#botonGuardarModal{
  background-color: #282c34;
  color: #fff;
  border: 2px solid #fff;
  margin: 3px;
}

#botonGuardarModal:hover{
  box-shadow: 1px 1px 8px #fff;  
  border: 2px solid #0284fd;
  margin: 3px;
  color: #0284fd;
  text-shadow:1px 1px 8px #fff ;
}

#botonCerrarModal{
  background-color: #282c34;
  color: #fff;
  border: 2px solid #fff;
  margin: 3px;
}

#botonCerrarModal:hover{
  box-shadow: 1px 1px 8px #fff;  
  border: 2px solid #fd0202;
  margin: 3px;
  color: #fd0202;
  text-shadow:1px 1px 8px #fff ;
}

#inputModal{
  color: #282c34;
}